@charset "utf-8";
/* CSS Document */
body,div,h1,h2,h3,h4,h5,h6,p,ul,li,ol,table,tr,td,input,button,em,img,dl,dt,dd,form,theader,tbody,tfoot,a,span,select,label,strong,caption,hr,option{ margin:0; padding:0;}
ul,ol,li{ list-style:none;}
body{ font:12px "微软雅黑";background:#fff;position:relative;}
img,input{ border:none;}
a{ text-decoration:none;outline: none;star:expression(this.onFocus=this.blur());}

.wrap_banner{width:100%;height:382px;background:#7c1500;margin:0 auto;}
.banner{width:1440px;height:382px;margin:0 auto;}

.content{width:1024px;margin:0 auto;margin-top:60px;overflow:hidden;min-height:250px;}
.teacher{width:1024px;height:230px;border-bottom:1px dashed #dedede;margin-bottom:30px;}
.teacher .left{width:146px;height:186px;border:1px solid #cdcdcf;float:left}
.teacher .center{width:650px;height:186px;float:left;margin-left:45px;}
.teacher .center h3{font-size:22px;}
.teacher .center h3 a{color:#737373;font-weight:100;}
.teacher .center p{font-family:"宋体";line-height:22px;padding-top:5px;height:90px;overflow:hidden;}
.teacher .center p a{color:#a6a6a6}
.teacher .center .intro{width:60px;height:23px;display:block;background:url(../images/head.jpg) no-repeat left center;padding-left:30px;line-height:23px;color:#b91212;font-family:"宋体";margin-top:40px;}
.teacher .right{width:112px;height:100px;float:right;padding-top:43px;}
.teacher .right a{width:107px;height:37px;display:block;margin-bottom:8px;font-size:18px;line-height:37px;text-align:center;color:#fff}
.teacher .right a.yuyue{background:#ff7777}
.teacher .right a.yuyue:hover{background:#d84444}
.teacher .right a.zixun{background:#7fb2f1}
.teacher .right a.zixun:hover{background:#4d84cb}

.page{ width:100%; padding-top:35px;}
.pagebox{width:566px; margin:0 auto;}
.page span{padding:8px 12px;  margin-right:3px; float:left; font:normal Arial, Helvetica, sans-serif 12px "宋体"; color:#bc242d; border:1px solid #ffffff; }
.page span.dot{color:#888896; padding:8px 5px;}
.page a.next,.page a.prve{font:bold Arial, Helvetica, sans-serif 14px "宋体"; border:1px solid #cccccc; color:#888896; }
.page a.next:hover,.page a.prve:hover{color:#bc242d;}

.page a{ padding:8px 12px; margin-right:3px; float:left; font:normal Arial, Helvetica, sans-serif 12px "宋体"; color:#888896; border:1px solid #cccccc;}
.page a:hover{border:1px solid #bc242d;}























